[main]
clone_temp_location: ~/markKovmments/tmp_clone
markov_db_location: ~/markKovmments/markov_db
comment_temp_location: ~/markKovmments/temp_comment_output
repo_list_location: ~/markKovmments/repo_list
