https://github.com/apple/swift.git
https://github.com/facebook/react.git
https://github.com/phanan/koel.git
https://github.com/laravel/laravel.git
https://github.com/etsy/phan.git
https://github.com/phpfunct/funct.git
https://github.com/letsencrypt/letsencrypt.git

